.modal {
    display: none;
  padding: 40px 10px;
  width: 100%;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: scroll;
  &__title {
    margin-bottom: 25px;
  }
  &__body {
    position: relative;
    padding: 30px 10px;
    background: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
z-index: 99999;
}
  &__list {
    padding-left: 25px;
    margin-bottom: 20px;
    &_item {
      margin-bottom: 8px;
    }
  }
}
.open_modal{
display: block;
}
.close{
position: fixed;
width: 100%;
height: 140%;
z-index: 2;
top: 0;
left: 0;
}