.pay {
  padding: 80px 10px;
  &__title {
    font-size: 2em;
    margin-bottom: 30px;
    &-second {
      margin: 9px 0 16px;
    }
  }
  &__subtitle {
    font-size: 1.4em;
    margin-bottom: 16px;
    font-weight: 500;
    &_info {
      font-size: 1em;
      margin-bottom: 16px;
    }
  }
  &__list {
    padding-left: 30px;
    &_item {
      list-style-type: square;
      margin-bottom: 7px;
    }
  }
  &_link{
    color: rgb(46, 46, 199);
font-weight: bold;
text-decoration: underline;
  }
}

.pay__list_item-first{
list-style: none;
}